<div class="container-fluid mt-5">
</div>
<div class="row">
  <!-- Waste quantity table -->
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header bg-primary  text-white">
        Quantité Gaspillée (kg)
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Processus</th>
              <th>Quantité Gaspillée (kg)</th>
            </tr>
          </thead>
          <tbody>
            <% @productions.each do |production| %>
              <tr>
                <td class="text-nowrap"><%= production.process_name %></td>
                <td class="text-nowrap">
                  <%= production.production_raw_materials.sum { |prm| prm.raw_material.waste_rate * prm.quantity_used } %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- CO2 emission table -->
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        Émissions CO₂ (kg)
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Processus</th>
              <th>Émissions CO₂ (kg)</th>
            </tr>
          </thead>
          <tbody>
            <% @productions.each do |production| %>
              <tr>
                <td class="text-nowrap"><%= production.process_name %></td>
                <td class="text-nowrap">
                  <%= production.production_raw_materials.sum { |prm| prm.raw_material.co2_per_kg * prm.quantity_used * prm.raw_material.waste_rate } %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if @waste_data.present? %>
  <div class="container mt-5">
    <h3>Quantité Gaspillée (kg) par processus</h3>
    <%= column_chart @waste_data, library: { title: { text: "Quantité Gaspillée (kg)", display: true }, legend: { position: "bottom" } } %>
  </div>
<% else %>
  <p>Aucune donnée disponible pour la quantité gaspillée.</p>
<% end %>

<% if @co2_data.present? %>
  <div class="container mt-5">
    <h3>Émissions de CO₂ (kg) par processus</h3>
    <%= column_chart @co2_data, library: { title: { text: "Émissions de CO₂ (kg)", display: true }, legend: { position: "bottom" } } %>
  </div>
<% else %>
  <p>Aucune donnée disponible pour les émissions de CO₂.</p>
<% end %>


<%= column_chart({"Processus 1" => 10, "Processus 2" => 20}, library: { title: { text: "Test Chart", display: true }, legend: { position: "bottom" } }) %>


<div>
  <%= column_chart({"Test 1" => 1, "Test 2" => 2}) %>
</div>

<%= column_chart({"Test 1" => 1, "Test 2" => 2}) %>
