<div class="mb-3 custom-margin">
  <div class="container">
    <div class="row">
      <h1 style="padding-top: 50px">Contactez-nous !</h1>
      <div class="col-md-6 mb-4 mt-5">
        <div class="mb-3">
          <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
            <div class="form-group">
              <%= form.label :Prénom %>
              <%= form.text_field :Prénom, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :Nom %>
              <%= form.text_field :Nom, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :email %>
              <%= form.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :message %>
              <%= form.text_area :message, class: "form-control" %>
            </div>
            <br>
            <%= form.submit "Envoyer", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
   
    </div>
  </div>
</div>
