<h1>Productions#index</h1>
<p>Find me in app/views/productions/index.html.erb</p>
<h1>Liste des Productions enregistrées </h1>

<% if flash[:notice] %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Processus</th>
      <th>Matière Première</th>
      <th>Quantité Utilisée (kg)</th>
      <th>Quantité Gaspillée (kg)</th>
      <th>Émissions CO₂ (kg)</th>
    </tr>
  </thead>
  <tbody>
    <% @productions.each do |production| %>
    <tr>
      <td><%= production.process_name %></td>
      <td>
        <% production.production_raw_materials.each do |prm| %>
        <p>
          <%= prm.raw_material.name %> : <%= prm.quantity_used %> kg
        </p>
        <% end %>
      </td>
      <td>
        <%= production.production_raw_materials.sum(&:quantity_used) %> kg
        <!-- Total quantité utilisée -->
      </td>
      <td>
        <%= production.production_raw_materials.sum { |prm| prm.raw_material.waste_rate * prm.quantity_used } %> kg
        <!-- Total déchets -->
      </td>
      <td>
        <%= production.production_raw_materials.sum { |prm| prm.raw_material.co2_per_kg * prm.quantity_used * prm.raw_material.waste_rate } %> kg CO2
        <!-- Total CO2 -->
      </td>
    </tr>
    <% end %>
  </tbody>
</table>