<h1>Créer une nouvelle Production</h1>


<%= form_with(model: @production) do |form| %>
<% if @production.errors[:process_name].any? %>
<div class="alert alert-danger">
  <% @production.errors[:process_name].each do |error| %>
  <p>
    <%= error == "can't be blank" ? "Le nom du processus ne peut pas être vide." : "Erreur : #{error}" %>
  </p>
  <% end %>
</div>
<% end %>

<div class="form-group">
  <%= form.label :process_name, "Nom du Processus" %>
  <%= form.text_field :process_name, class: "form-control #{'is-invalid' if @production.errors[:process_name].any?}" %>
</div>

<h2>Matières Premières</h2>
<% @raw_materials.each do |raw_material| %>
<details>
  <summary><%= raw_material.name %></summary>
  <div class="form-group">
    <%= hidden_field_tag "production[raw_materials][#{raw_material.id}][raw_material_id]", raw_material.id %>
    <%= label_tag "production[raw_materials][#{raw_material.id}][quantity_used]", "Quantité (kg)" %>
    <%= number_field_tag "production[raw_materials][#{raw_material.id}][quantity_used]", nil, step: 0.01, placeholder: "Quantité (kg)", class: "form-control" %>
  </div>
</details>
<% end %>

<div class="form-group">
  <%= form.submit "Créer Production", class: "btn btn-primary" %>
</div>
<% end %>