<h1>Créer une nouvelle Production</h1>

<%= form_with model: @production, local: true do |form| %>
  <div>
    <%= form.label :process_name, "Nom du Processus" %>
    <%= form.text_field :process_name %>
  </div>

  <h2>Matières Premières</h2>
  <% @raw_materials.each do |raw_material| %>
    <div>
      <%= hidden_field_tag "production[raw_materials][#{raw_material.id}][raw_material_id]", raw_material.id %>
      <%= label_tag "production[raw_materials][#{raw_material.id}][quantity_used]", raw_material.name %>
      <%= number_field_tag "production[raw_materials][#{raw_material.id}][quantity_used]", nil, step: 0.01, placeholder: "Quantité (kg)" %> <! -- step: 0.01 permet décimale niveau 2 --> 
    </div>
  <% end %>

  <div>
    <%= form.submit "Créer Production", class: "btn btn-primary" %>
  </div>
<% end %>

