<div class="container my-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="hero-unit" style="position: relative; text-align: center; color: white; padding: 50px 20px; overflow: hidden;">
        <%= image_tag("gaspillage_ali.png", style: "position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;", alt: "Background image") %>
        <div style="background: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></div>
        <div style="position: relative; z-index: 2;">
          <h1>ECO²</h1>
          <p>Calculer automatiquement les émissions de CO₂ associées aux déchets générés, et des indicateurs clés de performance environnementale.</p>
          <p>
            <a href="#cardSection" class=" btn btn-primary">En savoir plus</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="cardSection">
  <div class="container my-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <%= image_tag("formulaire_zero_waste.png", class: "img-fluid rounded shadow-lg ", alt: "image présentant un exemple de formulaire") %>
        </div>
        <div class="col-md-8">
          <h2>Mesurer</h2>
          <p>Grâce à notre système de calcul et à notre base de données très complète, vous pouvez renseigner vos données simplement et rapidement dans le formulaire, afin d'obtenir un rapport détaillé sur le taux de gaspillage et les émissions de CO₂ liés à votre production. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2>Analyser</h2>
        <p>L'application génère des rapports visuels, comprenant des diagrammes, des graphiques en camembert et des tableaux détaillés. Ces représentations claires vous aident à analyser vos données et à identifier la source d'impact la plus importante.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("diagrammes.png", class: "img-fluid rounded shadow-lg", alt: "image representant un graphique") %>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row align-items-center">
    <div class="col-md-4">
      <%= image_tag("graph1.jpg", class: "img-fluid rounded shadow-lg", alt: "Description de l'image") %>
    </div>
    <div class="col-md-8">
      <h2>Titre du texte</h2>
      <p>Votre texte ici. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl nec ultricies lacinia, nunc nisl tincidunt nunc, vitae aliquam nisl nunc vitae nunc.</p>
    </div>
  </div>
</div>
<br><br>



<div class="card mb-3" style="display: flex; flex-direction: row; align-items: stretch; background-color: black;">
  <div style="flex: 1; padding: 20px; color: white">
    <h3 class="card-header">Card header</h3>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <div style="flex: 0 0 200px; overflow: hidden; border-top-left-radius: 50%; border-bottom-left-radius: 50%;">
    <%= image_tag("graph2.png", class: "d-block user-select-none", style: "width: 100%; height: 100%; object-fit: cover;", alt: "Placeholder: Image cap") %>
  </div>
</div>