<div class="mb-3 custom-margin">
  <div class="container">
    <div class="row">
      <h1 style="padding-top: 50px">Contactez-nous !</h1>
      <div class="col-md-6 mb-4 mt-5">
        <%= form_with url: "/send_to_mailjet", method: :get, local: true do |f| %>
        <%= f.label :email, "Votre adresse email" %>
        <%= f.email_field :email, required: true %>

        <%= f.label :message, "Votre message" %>
        <%= f.text_area :message, rows: 5, required: true %>

        <%= f.submit "Envoyer" %>
      <% end %>
      </div>

      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <%= image_tag("contact.png", alt: "Background image", class: "img-fluid mb-4") %>
      </div>
    </div>
  </div>
</div>