<div class="footer">
  <div class="footer-container">
    <!-- Colonnes de contenu -->
    <div class="footer-column">
      <h3>About us</h3>
      <ul>
        <li><%= link_to 'Zaineb Padilla', 'https://www.linkedin.com/in/zaineb-padilla-7415a25a/' %></li>
        <li><%= link_to 'Stéphane Dubail', 'https://www.linkedin.com/in/st%C3%A9phane-dubail-53005032b/' %></li>
        <li><%= link_to 'Nora Vergoz', 'https://www.linkedin.com/in/nora-vergoz-26534432b/' %></li>
      </ul>
    </div>

    <div class="footer-column">
    <h3>Support</h3>
    <ul>
      <li><%= link_to 'TheHackingProject', 'https://www.thehackingproject.org/' %></li>
    </ul>
    </div>

    <div class="footer-column">
    <h3>Contact us</h3>
    <ul>
      <li><%= link_to 'RGPD', 'https://www.cnil.fr/fr/reglement-europeen-protection-donnees' %></li>
      <li><%= link_to 'Privacy policy', 'https://policies.google.com/privacy?hl=en-US' %></li>
    </ul>
    </div> <!-- Fermeture correcte de footer-container -->
  </div>

  <!-- Sous-bloc Copyright -->
  <div class="footer-copyright">
    <p>© 2024 cabO2. Tous droits réservés.</p>
    <p>Designed by Zaineb, Steph et Nora</p>
  </div>
</div>
